header {
	text-align:center;
}

footer{
    text-align:center;
}

header > div {
    height: 100px;
    margin-top: 20px;
    text-align: center;
}

#apiDivHeader{
    margin-top:50px;
    text-align: center;
}

[id="apiDiv"]{
    display: block;
	margin-top: 15px;
}

img {
    width: 200px;
    margin-left: 35px;
}
.bg-custom {
    background-color: lavenderblush;
}

table{
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

td{
    border-right: thin solid;
}

