.grid-container{
    margin-top: 3em;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
}

button{
    background-color: yellow;
    border-radius: 1em;
    width: 10em;
    height: 2em;
    display: block;
    margin: auto;
}

#greeter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-shrink: inherit;
}