<div id="greeter">
    <div *ngIf="greeterDiv">
        <label for="yourName">What should we call you?</label>
        <input [(ngModel)]="name" type="text" id="yourName" />
        <button (click)="submitName()">Submit Name</button>
    </div>
    <h2 *ngIf="name">Welcome, {{name}}.</h2>
</div>

<div class="grid-container">
    <app-card-details (updatedCardEvent)="updateCards($event)" *ngFor="let c of cards" [card]="c" [hidden]="visibility"></app-card-details>
</div>
<button (click)="toggleVisibility()">Click Me!</button>
