<div id="greeter">
    <div *ngIf="greeterDiv">
        <label for="yourName">What should we call you?</label>
        <input [(ngModel)]="name" type="text" id="yourName" />
        <button (click)="submitName()">Submit Name</button>
    </div>
    <h2 *ngIf="name">Welcome, {{name}}.</h2>
</div>

<div class="grid-container">

    <div *ngFor="let c of cards" [hidden]="visibility" class="card">
        <h2>Card #{{c.id}}</h2>
        <p>Description: {{c.name | uppercase | punctuation}}</p>
        <p appColorCode>Face Up: {{c.cardStatus}}</p>
        <label for="updateBox{{c.id}}">Update Card Description:</label>
        <input [(ngModel)]="c.name" id="updateBox{{c.id}}"/>
    </div>
</div>
<button (click)="toggleVisibility()">Click Me!</button>
