<div class="grid-container">

    <div class="card">
        <h2>Card #{{cards[0].id}}</h2>
        <p>Description: {{cards[0].name}}</p>
        <p>Face Up: {{cards[0].faceUp}}</p>
    </div>
    <div class="card">
        <h2>Card #{{cards[1].id}}</h2>
        <p>Description: {{cards[1].name}}</p>
        <p>Face Up: {{cards[1].faceUp}}</p>
    </div>
    <div class="card">
        <h2>Card #{{cards[2].id}}</h2>
        <p>Description: {{cards[2].name}}</p>
        <p>Face Up: {{cards[2].faceUp}}</p>
    </div>
    <div class="card">
        <h2>Card #{{cards[3].id}}</h2>
        <p>Description: {{cards[3].name}}</p>
        <p>Face Up: {{cards[3].faceUp}}</p>
    </div>

</div>
